@{
    ViewData["Title"] = "Home Page";
}

<div class="mx-auto">
    <div class="jumbotron text-center">
        <h1>Welcome to Fabrikam Residences</h1>
        <h2><i class="fa fa-users mr-3"></i> Where Community Matters <i class="fa fa-users ml-3"></i></h2>
        <br />
        <p>Feel free to come out and see us at one of our <a asp-area="" asp-controller="Activities" asp-action="Index">Activities</a> </p>
    </div>
</div>